.toast{
    padding:2% 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: white;
    opacity:0.9;
    font-size: 50pt;
    text-align:center;
    margin: 0 auto;
    background:black;
    animation:toasttrans 3s;
    
}
@keyframes toasttrans
{
    0%   {background:black;}
    25%  {background:#f7b700;}
    50%  {background:#f7b700;}
    100% {background:black;}

}