.side-drawer {
  background: #333;
  box-shadow: 10px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 102px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0 66px;
  width: 750px;
  z-index: 200;
  display: none;
}

.side-drawer.open {
  display: block;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-drawer li {
  height: 70px;
  line-height: 70px;
  font-size: 4.4rem;
  padding-left: 88px;
}

.side-drawer a, .side-drawer span {
  color: #fac500;
  text-decoration: none;
}
.side-drawer a {
  width: 100%;
  display: inline-block;
}

.side-drawer span {
  margin-right: 38px;
}
.side-drawer span.disable{
  color: #969696;
}

/*@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}*/
