@charset "UTF-8";
/* CSS Document */
.account{
	box-sizing: border-box;
	padding:0 48px 40px;
	width: 615px;
	margin: 78px auto 0;
	background-color: rgba(0,0,0,0.17);
	color: #f7b700;
	
}
.account hr{
	height:1px;
	border:none;
	border-top:1px solid #f7b700;
}
.account_title{
	line-height: 90px;
	text-align: center;
	font-size: 3.8rem;
}

.account_name{
	margin-top: 16px;
	line-height: 74px;
	font-size: 3rem;
	text-align: center;
}
.account-info{
	font-size: 3rem;
	line-height: 48px;
}
.account_balance{
}
.account_balance_title{
	float: left;
}
.account_balance_num{
	float: right;
}
.bet_num{
}
.bet_num_title{
	float: left;
}
.bet_num_num{
	float: right;
}
.win_num{
}
.win_num_title{
	float: left;
}
.win_num_num{
	float: right;
}
.bet_price{
}
.bet_price_title{
	float: left;
}
.bet_price_num{
	float: right;
}
.bonus_price{
}
.bonus_price_title{
	float: left;
}
.bonus_price_num{
	float: right;
}

.account_details_title{
	text-align: center;
	margin-top: 28px;
	font-size: 3rem;
	line-height: 78px;
}
.account_details_type{
	display: flex;
	height: 48px;
	line-height: 48px;
	font-size: 2.8rem;
}
.account_details_type_time{
	width: 200px;
}
.account_details_type_event {
	width: 180px;
}
.account_details_type_price{
	width: 122px;
	text-align: right;
}
.account_details_list{
	display: flex;
	font-size: 2.2rem;
}

