@charset "UTF-8";
/* CSS Document */
.empty01{
	height: 65px;
}

.how{
	box-sizing: border-box;
	width: 616px;
	margin: 76px auto 0;
	padding: 0 46px 40px;
	background-color: rgba(0,0,0,0.17);
	color: #f7b700;
}
.how hr{
	height:1px;
	border-top:1px solid #f7b700;
}
.how_title{
	line-height: 90px;
	text-align: center;
	font-size: 3.8rem;
}

.how_content{
	margin-top: 38px;
	line-height: 46px;
	font-size: 2.5rem;
}
