@charset "UTF-8";
/* CSS Document */
.clearfix::after {
	display: block;
	content: '';
	visibility: none;
	clear: both;
}
.fn-left{
	float: left;
}
.fn-right{
	float: right;
}
.header_mod{
	background-color: #1a1b1d;
	height: 102px;
	width:750px;
	overflow: hidden;
}

.header_logo{
	float:left;
	width:70px;
	height: 70px;
	margin: 16px 0 0 30px;
	background: url("../img/logo.png");
	background-size: 100%;
}

.header_menu_btn{
	float:right;
	width: 70px;
	height:70px;
	margin: 16px 30px 0 0;
	background: url("../img/header_menu_btn.png");
	background-size: 100%;
}

.empty01{
	height: 60px;
}

.main_mod{
	width: 750px;
}


.main_bg1{
	box-sizing: border-box;
	height: 113px;
	padding-top: 30px;
	background: url("../img/main_bg01.png") no-repeat center;
	color: #777777;
	background-size: 100%;
	font-size: 3rem;
	line-height: 78px;
}
.num_players_title{
	float: left;
	padding-left: 11%;
}
.num_price_title{
	padding-left: 40%;
}
.main_bg2{
	height: 166px;
	background: url("../img/main_bg02.png") no-repeat center;
	background-size: 100%;
	font-size: 4.8rem;
	line-height:154px;
}
.num_players{
	float: left;
	padding-left: 126px;
	color: #777777;
}
.num_price{
	float: left;
	padding-left: 150px;
	color: #fac500;
}
.num_price_EOS{
	float: left;
	padding-left: 24px;
	color: #fac500;
}
.main_bg3{
	box-sizing: border-box;
	color: #777;
	height: 102px;
	padding-top: 20px;
	background: url("../img/main_bg03.png") no-repeat center;
	background-size: 100%;
	font-size: 3rem;
}
.countdown_title{
	float: left;
	padding-left: 98px;
	line-height: 60px;
}
.countdown{
	float: left;
	padding-left: 196px;
	color: #fac500;
}
.user_picknumber{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	color: #fac500;
	font-size: 2.8rem;
}
.main_bg4{
	height: 83px;
	background: url("../img/main_bg04.png") no-repeat center;
	background-size: 100%;
}
.main_bg5{
	height: 193px;
	background: url("../img/main_bg05.png") no-repeat center;
	background-size: 100%;
}
/*.main_tiao{
	height: 260px;
	
	background: url("img/tiao.png") no-repeat center;
}*/
#wrapper{
    position: relative;
	margin-left: 150px;
    width:760px;
    height:16px;
	background-color: #0e0e1b;
    border:1px solid darkgray;
}
#slider{
    position: absolute;	
	margin-top: -30px;
	margin-left: -30px;
    left:0;
    width:79px;
    height:79px;
    display: inline-block;
    background: url("../img/slider.png");
    cursor:pointer;
}
#fill{
    display: inline-block;
    width:0;
    height:16px;
    background: #f7b700;
}
.main_bet_btn{
	height: 86px;
	background: url("../img/main_bet_btn.png")no-repeat center;
	background-size: 340px auto;
}
.main_bg6{
	height: 259px;
	background: url("../img/main_bg06.png") no-repeat center;
	background-size: 100%;
}

.orders_mod{
	width: 890px;
	height: 500px;
	background-color: rgba(0,0,0,0.17);
	color: #f7b700;
	
}
.orders_mclassod{
	width: 664px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.1);
}
.orders_mod_menu{
	overflow:hidden;
	height: 56px;
	font-size: 2.8rem;
	color: #fac500;
}
.orders_mod_menu div {
	float: left;
	height: 32px;
	line-height: 32px;
	margin-top: 10px;
}
.orders_mod_menu1{
	width: 200px;
	text-indent: 22px;
	border-right: 1px solid #fac500;
}
.orders_mod_menu2{
	width: 212px;
	text-align: center;
}
.orders_mod_caption{
	overflow:hidden;
	height: 72px;
	background-color: rgba(255,255,255,0.13);
	font-size: 30pt;
}
.caption1{
/*	padding-top: 1%;
*/	padding-left: 5%;
	color: #fac500;
	float: left;
}
.caption2{
	padding-left: 20%;
	color: #fac500;
	float: left;
}
.caption3{
	padding-left: 20%;
	color: #fac500;
	float: left;
}
.orders_mod_content{
	font-size: 20pt;
	padding-left: 20%;
	padding-top: 5%;
	color: #fac500;
	float: left;
}
.startNum, .endNum{
	color: #fac500;
	font-size: 2.4rem;
	margin-top: 40px;
}
.startNum {
	margin-left: 94px;
}
.endNum{
	margin-right: 64px;
}