.table-wrap{
	position: relative;
}
.table-wrap .thead-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,0.13);
}
table, td, th
{
	color: #fac500;
}
table
{
	width: 100%;
	text-align: left;
	text-indent: 22px;
}
td
{
	color: #fac500;
	height:30px;
	font-size: 20pt;
}
th
{
	font-size: 25pt;
	height:50px;
	
}