.wrapper {
    position: relative;
    margin-left: 150px;
    background-color: #0e0e1b;
    border: 1px solid darkgray;
}
.slider {
    position: absolute; 
    top: -30px;
    margin-left: -30px;
    left: 0;
    width: 79px;
    height: 79px;
    display: inline-block;
    background-image:url(../../img/slider.png);
    cursor: pointer;
}
.fill {
    height: 16px;
    background: #f7b700;
}